/* --- Class Styles --- */


/* --- Element Styles --*/


/* --- ID Styles ------ */
#main-header {
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 5%;
    font-size: 1.5em;
    background: linear-gradient(rgb(26, 62, 116), white);
}

#kana {
    width: 50%;
    height: 50px;
    font-size: 25pt;
    border: #bbb solid 2px;
    box-shadow: 0 2px 5px;
    border-radius: 5px;
    background-image: 'a';
    color: #555;
}

#kana:focus {
    outline-width: 0;
    border: rgb(90, 125, 185) solid 2px;
}

#main {
    text-align: center;
}

#result {
    color: rgb(90, 125, 185);
    margin-top: 2em;
    font-size: 5em;
}

#submit {
    border: #ccc solid 2px;
    border-radius: 5px;
    height: 2em;
    color: #555;
    box-shadow: 0 2px 5px;
}

#submit:focus {
    outline-width: 0;
}

#submit:hover {
    border-color: #aeaeae;
}